node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.development
!.env.production
README.md
.vscode
.DS_Store
logs
*.log
coverage
.nyc_output
dist
build
.prettierrc
.prettierignore
eslint.config.js
drizzle
prompts
docs.txt
.neon_local
